[Desktop Entry]
Name=Zorin Desktop Studio
Name[tr]=Zorin Masaüstü Stüdyo
Comment=Adjust desktop icon size and edit desktop launchers
Comment[tr]=Masaüstü simge boyutlarını ayarla ve masaüstü kısayollarını düzenle
Exec=zorin-icon-settings
Icon=zorin-desktop-studio
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;Utility;
Keywords=zorin;desktop;icons;launcher;gtk;
StartupNotify=true
